// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 400px 0;
}

.banner h1 {
  margin: 0;
  color: orangered;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  font-family: IBM Plex Sans;
  position: r;
}

.banner p {
  font-size: 20px;
  color: orangered;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: Roboto;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }
