// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 280px 304px 304px 304px;
}

.banner h1 {
  margin: 0;
  color: orangered;
  text-shadow: 1px 1px 3px #16153f(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  font-family: IBM Plex Sans;
  position: r;
}

.banner p {
  font-size: 45px;
  // color: #f63c02;
  background-image: linear-gradient(to right, #f57b09, #d69400, #aea900, #7ab900, #0dc63b);
  opacity: 0.8;
  text-shadow: 1px 1px 3px #16153f(0,0,0,0.2);
  font-family: Roboto;
  font-weight: bold;
  border-radius: 16px;
  padding: 10px;
}

.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.heading {
  background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
  background-clip: text;
  color: transparent;
}

.hero {
	background: #16153f;
	margin-bottom: 4em;
  position: relative;
  // color: #fff;
  // padding-top: 4em;
}

.hero .curve {
	  position: relative;
	  display: block;
		height: 140px;
		bottom: -140px;
		margin-top: -100px;
    overflow: hidden;
	}

	.hero .curve::after {
		border-radius: 50%;
		box-shadow: inset 0 -10px 10px rgba(0,0,0,0.05);
		height: 100px;
		bottom: 0;
		transform: translate(-5%,-100%);
		-ms-transform: translate(-5%,-100%);
		-webkit-transform: translate(-5%,-100%);
		content: "";
		position: absolute;
		width: 110%;
		z-index: -1;
    background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
    // left: 0;
    // top: 100px;
    // bottom: 100px;
	}

.hero h1, .hero h3 {
  text-align: center;
}

// .searchbar{
//   margin-bottom: auto;
//   margin-top: auto;
//   height: 60px;
//   background-color: #353b48;
//   border-radius: 30px;
//   padding: 10px;
//   }

//   .search_input{
//   color: white;
//   border: 0;
//   outline: 0;
//   background: none;
//   width: 0;
//   caret-color:transparent;
//   line-height: 40px;
//   transition: width 0.4s linear;
//   }

//   .searchbar:hover > .search_input{
//   padding: 0 10px;
//   width: 450px;
//   caret-color:red;
//   transition: width 0.4s linear;
//   }

//   .searchbar:hover > .search_icon{
//   background: white;
//   color: #e74c3c;
//   }

//   .search_icon{
//   height: 40px;
//   width: 40px;
//   float: right;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   color:white;
//   text-decoration:none;
//   }
