.users-show {

  padding-top: 48px;

  h1 {
    font-size: 64px;
    color: orange;
  }

  h2 {
    color: #F63C02;
    font-size: 24px;
  }

  h3 {
    color: #F63C02;
    font-size: 24px;
    padding: 16px 0px;
  }

  .user-info h3 {
    padding: 0px 12px;
  }

  i {
    color: #F63C02;
    margin-right: 24px;
    font-size: 24px;
  }

  .user-info p {
    font-size: 22px;
  }

  .image-container {
    width: 500px;
    height: 500px;
    box-shadow: inset 0px 0px 16px 16px #16153f;
  }

  img {
    width: 500px;
    height: 500px;
    position: relative;
    z-index: -10;
  }
}
