.users-show {

  h1 {
    font-size: 50px;
    background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
    background-clip: text;
    color: transparent;
    padding-top: 20px;
  }

  h2 {
    color: #F63C02;
    font-size: 24px;
  }

  h3 {
    background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
    background-clip: text;
    color: transparent;
    font-size: 24px;
    padding: 16px 0px;
  }

  // .user-info h3 {
  //   padding: 0px 12px;
  // }

  i {
    background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
    background-clip: text;
    color: transparent;
    //margin-right: 24px;
    font-size: 24px;
  }

  .user-info p {
    font-size: 22px;
  }

  .image-container {
    width: 500px;
    height: 500px;
    // box-shadow: inset 0px 0px 16px 16px #16153f;
  }

  img {
    display: block;
    margin: auto;
    object-fit: cover;
    height: 24rem;
    width: 24rem;
    object-fit: center;
    border-radius: 15px;
    border: 3px solid #F8A991;
  }
}

.user-reviews {
  border-radius: 15px;
}
