.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 15px;
  padding-top: 20px;
}

.text-center {
  padding-top: 20px;
  padding-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 16px;
  flex-grow: 1;
  padding: 0 16px;
}

.main-container {
  display: flex;
}

.card-user {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  // background-image: linear-gradient(to bottom, #fbfaf9, #ffe8c7, #ffd695, #ffc661, #fcb61e);
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px 0 rgb(245, 112, 3);
  padding-top: 15px;
  padding-bottom: 60px;
    img {
      height: 55%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      // padding: 8px;
      width: 80%;
      border-radius: 100%;
      box-shadow: 0 0 10px 2px #F63C02;
    }
  }

  .card-user .user-name {
  color: #16153f;
}

.card-btn {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

.card-user-infos {
  padding: 8px;
  color: black;
  margin-top: 10px;
}

.user-name {
  color: black;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 21px;
  font-weight: bolder;
  margin: 0;
}

.card-trip p {
  font-size: 21px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.locationcolor {
  color: rgb(243, 108, 12);
}

body {
  background-color: #16153F;
  color: white;
}

.card-user:hover {
  transform: scale(1.05);
  background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
}

.btn {
  background-image: linear-gradient(to left top, #16153f, #2a2a68, #404095, #5658c4, #6c71f6);
  color: white;
  border-radius: 10px;
  &:hover {
    background-image: linear-gradient(to left top, #89efe7, #91edc6, #ace7a0, #d0dc7f, #f6cc6c);
    transform: scale(1.05);
    border-radius: 10px;
  }
}

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
