.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 15px;
  padding-top: 20px;
}

.text-center {
  padding-top: 20px;
  padding-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-user {
  height: 500px;
  width: 300px;
  background-color: black;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 18px 0 #809eb1;
  margin: 0 auto;
    img {
      height: 55%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      padding: 8px;
      width: 80%;
      border-radius: 100%;
      padding: 20px;
      box-shadow: 0 0 0 1px rgb(27, 163, 243);
    }
  }

.card-user-infos {
    padding: 8px;
    color: whitesmoke;
    margin-top: 50px;
   }

.user-name {
  position: absolute;
  top: 250px;
  left: 10px;
  color: whitesmoke
  }

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 21px;
  font-weight: bolder;
  margin: 0;
}

.card-trip p {
  font-size: 21px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.locationcolor {
  color: rgb(243, 108, 12);
}
