.inbox-chats {
  position: relative;
  display: flex;
  align-items: center;
  height: 120px;
  width: 50%;
  margin: 20px auto;
  background-image: linear-gradient(to top, #bdbcba, #cbcac7, #dad8d4, #e9e6e1, #f8f4ef);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgb(245, 112, 3);
  justify-content: center;
}

.inbox-chats:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to bottom, #f69679, #f5a480, #f4b18a, #f3bd96, #f2c9a3);
}

.inbox-chats img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  position: absolute;
  left: 0;
  border-radius: 20px 0 0 20px;
}

.inbox-user {
  font-size: 26px;
  color: #16153F;
  justify-content: center;
  text-align: center;
}
