.homepage-testimonials {

  padding-top: 20px;

  img {
    height: 130px;
    border-radius: 50%;
  }

  p {
    margin-left: -4px;
    margin-bottom: -2px;
  }

  .text-right {
    text-align: end;
  }
}
