.homepage-grid {


  h3 {
    color: $light-gray;
  }

  img {
    background-size: cover;
    background-position: center;
    width: 250px;
    box-shadow: 0px 0px 8px #F97315;
  }
}

h1 {
  background-image: linear-gradient(45deg, #FF7900, #F8A991, #AC8FC6);
  background-clip: text;
  color: transparent;
  padding: 64px 0px;
  font-size: 48px;
}
