.mapboxgl-popup {
  max-width: 100px;
  border-radius: 15px;
}

.mapboxgl-popup-content {
  text-align: center;
  // font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: #16153f;
  overflow: hidden;
  border-radius: 15px !important;
  opacity: 0.8;
}

#map {
  height: 100vh;
  border: 3px solid #F8A991;
  object-fit: cover !important;
  border-radius: 15px;
  position: sticky;
}

.info-window {
  p {
    margin-bottom: 0;
  }
}
