.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #16153f;
}

#map {
  height: 100vh;
  box-shadow: 1px 1px 10px #d77506;
  object-fit: cover !important;
  border-radius: 10px;
  position: sticky;
  top: 0;
}
