.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #16153f;
}

#map {
  height: 100vh;
  border: 3px solid #F8A991;
  object-fit: cover !important;
  border-radius: 15px;
  position: sticky;
  top: 0;
}
