.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon {
  background-color: #16153f;
}

.navbar .avatar {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f63c02;
}

.navbar .h1 {
  color: #f63c02;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

#navbarSupportedContent:hover {
  color: white;
}
