.d-flex {
  padding-bottom: 20px;
}

.form-check {
  display:flex;
  justify-content: center;
  padding-top: 10px;
  padding: 5px 5px 0 20px;
  margin-top: auto;
  margin-bottom: auto;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: 3px solid #F8A991;
  box-shadow: none;
  min-height: 40px;
  height: auto;
  border-radius: 50px;
  background: white;

}

input[name="bouldering"] {
  background-image: url("assets/icons8-rock-40.png");
}
input[name="sport_climbing"] {
  background-image: url("assets/icons8-harness-40.png");
}
input[name="top_roping"] {
  background-image: url("assets/icons8-rope-40.png");
}
input[name="trad_climbing"] {
  background-image: url("assets/icons8-climbing-helmet-40.png");
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 29px;
  height: 29px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control-1 + .form-control-1 {
  margin-top: 1em;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
// #user-review-box {
// }

// .heading {
//   color: red;
// }
